<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.lvtpsys_system.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.lvtpsys_system.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LYJDServlet</servlet-name>
    <servlet-class>com.lvtpsys_system.servlet.LYJDServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowLVJDServlet</servlet-name>
    <servlet-class>com.lvtpsys_system.servlet.ShowLVJDServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TPServlet</servlet-name>
    <servlet-class>com.lvtpsys_system.servlet.TPServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdatePsdServlet</servlet-name>
    <servlet-class>com.lvtpsys_system.servlet.UpdatePsdServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GETNumberServlet</servlet-name>
    <servlet-class>com.lvtpsys_system.servlet.GETNumberServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowLYJDServlet</servlet-name>
    <servlet-class>com.lvtpsys_system.servlet.ShowLYJDServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>J_RegisterServlet</servlet-name>
    <servlet-class>com.lvtpsys_system.servlet.J_RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>J_LoginServlet</servlet-name>
    <servlet-class>com.lvtpsys_system.servlet.J_LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>XF_Servlet</servlet-name>
    <servlet-class>com.lvtpsys_system.servlet.XF_Servlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Add_xf_servlet</servlet-name>
    <servlet-class>com.lvtpsys_system.servlet.Add_xf_servlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SRServlet</servlet-name>
    <servlet-class>com.lvtpsys_system.servlet.SRServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Add_sr_servlet</servlet-name>
    <servlet-class>com.lvtpsys_system.servlet.Add_sr_servlet</servlet-class>
  </servlet>














  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LYJDServlet</servlet-name>
    <url-pattern>/LYJDServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowLVJDServlet</servlet-name>
    <url-pattern>/ShowLVJDServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TPServlet</servlet-name>
    <url-pattern>/TPServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdatePsdServlet</servlet-name>
    <url-pattern>/UpdatePsdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GETNumberServlet</servlet-name>
    <url-pattern>/GETNumberServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowLYJDServlet</servlet-name>
    <url-pattern>/ShowLYJDServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>J_RegisterServlet</servlet-name>
    <url-pattern>/J_RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>J_LoginServlet</servlet-name>
    <url-pattern>/J_LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>XF_Servlet</servlet-name>
    <url-pattern>/XF_Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Add_xf_servlet</servlet-name>
    <url-pattern>/Add_xf_servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SRServlet</servlet-name>
    <url-pattern>/SRServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Add_sr_servlet</servlet-name>
    <url-pattern>/Add_sr_servlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
